{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Generate{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>生成报表</h1>
    <h4>在此可以生成作为对应报表复核员所管理的报表</h4>
</div>
<div class="col-md-4">
    <style type="text/css">
        #generate {
            height: 500px;
        }
    </style>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#date').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm/dd",
        language: "zh-CN"
    });
    </script>
{% endblock %}

