{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}   {#重命名wtf#}


{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Please Log In
    {% endif %}!
    </h1>
    <h4>
    {% if current_user.is_authenticated and current_user.username.lower()=='admin' %}
        <br>
        <p>管理员用户可以点击管理员主页进入后台管理。</p>
    {% endif %}
    </h4>
</div>
{% endblock %}
