{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}   {#重命名wtf#}


{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Please Log In
    {% endif %}!
    </h1>
    <h4>{% if current_user.is_authenticated %}
            {% if current_user.username.lower()=='admin' %}
                <p>管理员用户可以点击管理员主页进入后台管理。</p>
                <p>注：管理员在上传报表前请务必先进入后台管理维护报表名、报表频率与报表复核员。</p>
            {% endif %}
            <br>
            <p>流程：管理员上传报表模板，并拆分报表，由此生成各位用户需要填写的内容。用户填写报表数据，
                并可以由报表复核员或管理员生成报表。</p>
            <P>查询报表功能可以预览报表。下载报表可打包下载目前最新生成的报表。</p>
        {% endif %}
    </h4>
</div>
{% endblock %}
