<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>G25 第I部分 流动性覆盖率</th>
      <th>Unnamed: 1</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
      <th>Unnamed: 6</th>
      <th>Unnamed: 7</th>
      <th>Unnamed: 8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>填报机构：</td>
      <td></td>
      <td>报表日期：       2018      年    12月    日</td>
      <td></td>
      <td>货币单位：万元</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>第I部分：流动性覆盖率</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>序号</td>
      <td>项目</td>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>修订说明</td>
      <td>与原报表项目的关联</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td></td>
      <td>金额</td>
      <td>折算率</td>
      <td>折算后\n金额</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>Ⅰ.基础数据</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1.合格优质流动性资产</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改项目名称</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>1.1一级资产</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>1.1.1现金</td>
      <td>|朱张婷：现金_A</td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>G01：1.现金</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>1.1.2压力条件下可动用的央行准备金</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>G01-V：1.1超额准备金存款</td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>1.1.3风险权重为零的证券</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>1.1.3.1主权国家发行的</td>
      <td>|朱张婷：证券+陆轶凡：证券+陆轶凡：现金*陆轶凡：国债*吴玉姝：股票</td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>【国债】可用市值</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>1.1.3.2主权国家担保的</td>
      <td>|(朱张婷：证券+陆轶凡：证券)*吴玉姝：国债</td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>【政策性金融债、资产管理公司债、汇金债、地方政府债】可用市值</td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>8</td>
      <td>1.1.3.3央行发行或担保的</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>【央票】可用市值</td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>1.1.3.4其他机构发行或担保的</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>【BIS、IMF、欧洲央行、欧盟、多边开发银行债】可用市值</td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>10</td>
      <td>1.1.4 母国或流动性风险所在国权重不为0%时，上述国家主权或央行发行的本币债券</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>11</td>
      <td>1.1.5 母国或流动性风险所在国权重不为0%时，上述国家主权或央行发行的外币债券</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>修改项目名称（后续修改）</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td>12</td>
      <td>1.2二级资产</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>13</td>
      <td>1.2.1 2A资产-公司债券</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>【AA-以上CP、MTN、企业债】可用市值</td>
      <td></td>
    </tr>
    <tr>
      <th>18</th>
      <td>14</td>
      <td>1.2.2 2A资产-担保债券</td>
      <td>|朱张婷：证券+(陆轶凡：现金-吴玉姝：国债)/陆轶凡：证券_B</td>
      <td>0.85</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>19</th>
      <td>15</td>
      <td>1.2.3 2A资产-风险权重为20%的证券</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td>16</td>
      <td>1.2.3.1主权国家发行的</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <td>17</td>
      <td>1.2.3.2主权国家担保的</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>22</th>
      <td>18</td>
      <td>1.2.3.3央行发行或担保的</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <td>19</td>
      <td>1.2.3.4公共部门实体发行或担保的</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>铁道债</td>
      <td></td>
    </tr>
    <tr>
      <th>24</th>
      <td>20</td>
      <td>1.2.3.5其他机构发行或担保的</td>
      <td></td>
      <td>0.85</td>
      <td>0</td>
      <td>修改编号</td>
      <td>1.2.3.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td>21</td>
      <td>1.2.4 2B资产-公司债券</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>22</td>
      <td>2.净现金流出</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>27</th>
      <td>23</td>
      <td>2.1 现金流出</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>28</th>
      <td>24</td>
      <td>2.1.1零售存款的现金流出</td>
      <td></td>
      <td></td>
      <td></td>
      <td>删除2.1.1.1有保险制度的存款</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td>25</td>
      <td>2.1.1.1稳定存款（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.03</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td>26</td>
      <td>2.1.1.2稳定存款（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.1.1.1</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>31</th>
      <td>27</td>
      <td>2.1.1.3欠稳定存款（有存款保险）</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.1.1.2</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td>28</td>
      <td>2.1.1.4欠稳定存款（无存款保险）</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td></td>
      <td>G01-III个人活期+G01-III个人通知存款+Focus储蓄定期一个月以内（现金流分析组结构/现金流时间窗口/Principal/2.5.2.2）</td>
      <td></td>
    </tr>
    <tr>
      <th>33</th>
      <td>29</td>
      <td>2.1.2无担保批发现金流出</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>34</th>
      <td>30</td>
      <td>2.1.2.1小企业</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改填报说明：小企业</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>35</th>
      <td>31</td>
      <td>2.1.2.1.1稳定存款（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>公金部</td>
      <td></td>
    </tr>
    <tr>
      <th>36</th>
      <td>32</td>
      <td>2.1.2.1.2稳定存款（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.2.1.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>37</th>
      <td>33</td>
      <td>2.1.2.1.3欠稳定存款（有存款保险）</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.2.1.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>38</th>
      <td>34</td>
      <td>2.1.2.1.4欠稳定存款（无存款保险）</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.2.1.3</td>
      <td>科技部模板</td>
      <td></td>
    </tr>
    <tr>
      <th>39</th>
      <td>35</td>
      <td>2.1.2.2大中型企业</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>40</th>
      <td>36</td>
      <td>2.1.2.2.1有业务关系且有存款保险（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.03</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>41</th>
      <td>37</td>
      <td>2.1.2.2.2有业务关系且有存款保险（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.2.2.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>42</th>
      <td>38</td>
      <td>2.1.2.2.3有业务关系且无存款保险</td>
      <td></td>
      <td>0.25</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>2.1.2.2.1</td>
      <td>科技部模板</td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td>39</td>
      <td>2.1.2.2.4无业务关系且有存款保险</td>
      <td></td>
      <td>0.2</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>44</th>
      <td>40</td>
      <td>2.1.2.2.5无业务关系且无存款保险</td>
      <td></td>
      <td>0.4</td>
      <td>0</td>
      <td>修改系数</td>
      <td>2.1.2.2.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>45</th>
      <td>41</td>
      <td>2.1.2.3主权国家、央行、公共部门实体和多边开发银行</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.1.2.4</td>
      <td>同业部+资金部+贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>46</th>
      <td>42</td>
      <td>2.1.2.3.1有业务关系且有存款保险（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.03</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>47</th>
      <td>43</td>
      <td>2.1.2.3.2有业务关系且有存款保险（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>修改项目名称</td>
      <td>2.1.2.4.2</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>48</th>
      <td>44</td>
      <td>2.1.2.3.3有业务关系且无存款保险</td>
      <td></td>
      <td>0.25</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>2.1.2.4.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>49</th>
      <td>45</td>
      <td>2.1.2.3.4无业务关系且有存款保险</td>
      <td></td>
      <td>0.2</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td>46</td>
      <td>2.1.2.3.5无业务关系且无存款保险</td>
      <td></td>
      <td>0.4</td>
      <td>0</td>
      <td>修改系数</td>
      <td>2.1.2.4.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>51</th>
      <td>47</td>
      <td>2.1.2.4金融机构</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.1.2.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>52</th>
      <td>48</td>
      <td>2.1.2.4.1银行存款，有业务关系且有存款保险（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.03</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>53</th>
      <td>49</td>
      <td>2.1.2.4.2银行存款，有业务关系且有存款保险（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>54</th>
      <td>50</td>
      <td>2.1.2.4.3银行存款，有业务关系且无存款保险</td>
      <td>249.009</td>
      <td>0.25</td>
      <td>62.2523</td>
      <td>修改项目编号</td>
      <td>2.1.2.3.1</td>
      <td>同业部+贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>55</th>
      <td>51</td>
      <td>2.1.2.4.4其他金融机构存款，有业务关系且有存款保险（满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.03</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>56</th>
      <td>52</td>
      <td>2.1.2.4.5其他金融机构存款，有业务关系且有存款保险（不满足有效存款保险附加标准）</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>57</th>
      <td>53</td>
      <td>2.1.2.4.6其他金融机构存款，有业务关系且无存款保险</td>
      <td></td>
      <td>0.25</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>2.1.2.3.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>58</th>
      <td>54</td>
      <td>2.1.2.4.7无托管、清算及现金管理目的，合作银行网络中其他银行的存款</td>
      <td></td>
      <td>0.25</td>
      <td></td>
      <td>修改项目编号，封闭单元格</td>
      <td>2.1.2.3.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>59</th>
      <td>55</td>
      <td>2.1.2.4.8无业务关系的金融机构存款</td>
      <td>361004</td>
      <td>1</td>
      <td>361004</td>
      <td>修改项目编号</td>
      <td>2.1.2.3.4</td>
      <td>同业部+资金部,并表时需要减去村行活期和一个月以内到期定期</td>
      <td></td>
    </tr>
    <tr>
      <th>60</th>
      <td>56</td>
      <td>2.1.2.5未包含在以上无担保批发现金流出分类的其他类别</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>61</th>
      <td>57</td>
      <td>2.1.2.6填报机构发行的30天内到期债务</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>到期债券</td>
      <td></td>
    </tr>
    <tr>
      <th>62</th>
      <td>58</td>
      <td>2.1.3担保融资流出</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>63</th>
      <td>59</td>
      <td>2.1.3.1与央行进行的担保融资</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>64</th>
      <td>60</td>
      <td>2.1.3.1.1 其中，以合格优质流动性资产为押品的融资</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>65</th>
      <td>61</td>
      <td>2.1.3.1.1.1 一级资产押品市值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>66</th>
      <td>62</td>
      <td>2.1.3.1.1.2 2A资产押品市值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>67</th>
      <td>63</td>
      <td>2.1.3.1.1.3 2B资产押品市值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>68</th>
      <td>64</td>
      <td>2.1.3.2由一级资产担保的融资交易（与央行以外其他交易对手）</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>修改项目名称及编号</td>
      <td>2.1.3.1</td>
      <td></td>
      <td>461392.98</td>
    </tr>
    <tr>
      <th>69</th>
      <td>65</td>
      <td>2.1.3.2.1 押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改项目编号</td>
      <td>2.1.3.1.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>70</th>
      <td>66</td>
      <td>2.1.3.3由2A级资产担保的融资交易（与央行以外其他交易对手）</td>
      <td></td>
      <td>0.15</td>
      <td>0</td>
      <td>修改项目名称及编号</td>
      <td>2.1.3.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>71</th>
      <td>67</td>
      <td>2.1.3.3.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改项目编号</td>
      <td>2.1.3.2.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>72</th>
      <td>68</td>
      <td>2.1.3.4由2B级资产担保的融资交易（与央行以外其他交易对手）</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>73</th>
      <td>69</td>
      <td>2.1.3.4.1交易对手为本国主权、多边开发银行、公共部门实体</td>
      <td></td>
      <td>0.25</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>74</th>
      <td>70</td>
      <td>2.1.3.4.1.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>75</th>
      <td>71</td>
      <td>2.1.3.4.2其他交易对手</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>76</th>
      <td>72</td>
      <td>2.1.3.4.2.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>77</th>
      <td>73</td>
      <td>2.1.3.5由其他资产担保的融资交易（与央行以外其他交易对手）</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改项目名称及编号</td>
      <td>2.1.3.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>78</th>
      <td>74</td>
      <td>2.1.3.5.1交易对手为本国主权、多边开发银行、公共部门实体</td>
      <td></td>
      <td>0.25</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>79</th>
      <td>75</td>
      <td>2.1.3.5.2其他交易对手</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>80</th>
      <td>76</td>
      <td>2.1.4其他项目</td>
      <td></td>
      <td></td>
      <td></td>
      <td>修改项目名称，封闭单元格</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>81</th>
      <td>77</td>
      <td>2.1.4.1衍生产品交易的净现金流出</td>
      <td>18627.1</td>
      <td>1</td>
      <td>18627.1</td>
      <td>项目名称</td>
      <td>保留</td>
      <td>资金部(暂无)、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>82</th>
      <td>78</td>
      <td>2.1.4.2融资交易、衍生产品等合约中包含降级触发条款导致的流动性补充需求</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>项目名称</td>
      <td>保留</td>
      <td>资金部、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>83</th>
      <td>79</td>
      <td>2.1.4.3衍生产品及其他交易中非一级资产押品估值变化导致的流动性补充需求</td>
      <td></td>
      <td>0.2</td>
      <td>0</td>
      <td>项目名称</td>
      <td>2.1.4.3.2</td>
      <td>资金部、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>84</th>
      <td>80</td>
      <td>2.1.4.4衍生产品及其他交易市值变动导致的流动性补充需求</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>项目名称、编号、填报说明</td>
      <td>2.1.4.7</td>
      <td>资金部、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>85</th>
      <td>81</td>
      <td>2.1.4.5超额非隔离押品被收回导致的流动性补充需求</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>86</th>
      <td>82</td>
      <td>2.1.4.6押品对外交付义务导致的流动性补充需求</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>87</th>
      <td>83</td>
      <td>2.1.4.7合格优质流动性资产押品替换导致的流动性补充需求</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>88</th>
      <td>84</td>
      <td>2.1.4.8资产支持证券、担保债券等结构性融资工具</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>修改项目编号</td>
      <td>2.1.4.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>89</th>
      <td>85</td>
      <td>2.1.4.9资产支持商业票据、管道工具、证券投资载体和类似融资工具</td>
      <td></td>
      <td></td>
      <td></td>
      <td>项目名称</td>
      <td>2.1.4.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>90</th>
      <td>86</td>
      <td>2.1.4.9.1 30天内到期债务</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>2.1.4.5.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>91</th>
      <td>87</td>
      <td>2.1.4.9.2 30天以上或无到期日但均内含期权的债务</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>2.1.4.5.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>92</th>
      <td>88</td>
      <td>2.1.4.10未提取的不可无条件撤销的信用便利和流动性便利</td>
      <td></td>
      <td></td>
      <td></td>
      <td>项目名称</td>
      <td>2.1.4.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>93</th>
      <td>89</td>
      <td>2.1.4.10.1零售客户和小企业</td>
      <td></td>
      <td>0.05</td>
      <td>0</td>
      <td></td>
      <td>2.1.4.6.1</td>
      <td>风管部+信用卡未使用额度</td>
      <td></td>
    </tr>
    <tr>
      <th>94</th>
      <td>90</td>
      <td>2.1.4.10.2大中型企业</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.1.4.6.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>95</th>
      <td>91</td>
      <td>2.1.4.10.2.1信用便利</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td>填报说明：承兑</td>
      <td>2.1.4.6.2.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>96</th>
      <td>92</td>
      <td>2.1.4.10.2.2流动性便利</td>
      <td></td>
      <td>0.3</td>
      <td>0</td>
      <td>修改系数</td>
      <td>2.1.4.6.2.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>97</th>
      <td>93</td>
      <td>2.1.4.10.3主权国家、央行、公共部门实体和多边开发银行</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.1.4.6.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>98</th>
      <td>94</td>
      <td>2.1.4.10.3.1信用便利</td>
      <td></td>
      <td>0.1</td>
      <td>0</td>
      <td></td>
      <td>2.1.4.6.3.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>99</th>
      <td>95</td>
      <td>2.1.4.10.3.2流动性便利</td>
      <td></td>
      <td>0.3</td>
      <td>0</td>
      <td>修改系数</td>
      <td>2.1.4.6.3.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>100</th>
      <td>96</td>
      <td>2.1.4.10.4银行</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td>删除原2.1.4.6.4</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>101</th>
      <td>97</td>
      <td>2.1.4.10.4.1信用便利</td>
      <td></td>
      <td>0.4</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>102</th>
      <td>98</td>
      <td>2.1.4.10.4.2流动性便利</td>
      <td></td>
      <td>0.4</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>未使用的村镇银行流动性支持额度</td>
      <td></td>
    </tr>
    <tr>
      <th>103</th>
      <td>99</td>
      <td>2.1.4.10.5其他金融机构</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>104</th>
      <td>100</td>
      <td>2.1.4.10.5.1信用便利</td>
      <td></td>
      <td>0.4</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>105</th>
      <td>101</td>
      <td>2.1.4.10.5.2流动性便利</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>106</th>
      <td>102</td>
      <td>2.1.4.10.6其他法人客户以及管道工具、特殊目的载体等</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>107</th>
      <td>103</td>
      <td>2.1.4.10.6.1信用便利</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>108</th>
      <td>104</td>
      <td>2.1.4.10.6.2流动性便利</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>109</th>
      <td>105</td>
      <td>2.1.4.11其他30日内放款的契约性义务</td>
      <td></td>
      <td></td>
      <td></td>
      <td>项目名称</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>110</th>
      <td>106</td>
      <td>2.1.4.11.1金融机构</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>111</th>
      <td>107</td>
      <td>2.1.4.11.2其他客户</td>
      <td></td>
      <td></td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td>风管部</td>
      <td></td>
    </tr>
    <tr>
      <th>112</th>
      <td>108</td>
      <td>2.1.5其他或有融资义务</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>113</th>
      <td>109</td>
      <td>2.1.5.1无条件可撤销的信用及流动性便利</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>114</th>
      <td>110</td>
      <td>2.1.5.2保函</td>
      <td></td>
      <td>0.025</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>30天内到期保函的敞口金额</td>
      <td></td>
    </tr>
    <tr>
      <th>115</th>
      <td>111</td>
      <td>2.1.5.3信用证</td>
      <td></td>
      <td>0.025</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>30天内到期信用证的敞口金额</td>
      <td></td>
    </tr>
    <tr>
      <th>116</th>
      <td>112</td>
      <td>2.1.5.4其他贸易融资工具</td>
      <td></td>
      <td>0.025</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>海外待付</td>
      <td></td>
    </tr>
    <tr>
      <th>117</th>
      <td>113</td>
      <td>2.1.5.5非契约性义务</td>
      <td></td>
      <td>0.025</td>
      <td>0</td>
      <td>填报说明</td>
      <td>保留</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>118</th>
      <td>114</td>
      <td>2.1.5.5.1其中：属于理财产品的部分</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>119</th>
      <td>115</td>
      <td>2.1.5.6拥有附属交易商或做市商的发行机构未偿付的超过30天的债券</td>
      <td></td>
      <td>0.025</td>
      <td>0</td>
      <td>项目名称</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>120</th>
      <td>116</td>
      <td>2.1.5.7以其他客户押品覆盖客户空头头寸所导致的非契约性负债</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>121</th>
      <td>117</td>
      <td>2.1.6 其他所有没有包含在以上类别中的本金、利息等现金流出</td>
      <td>1216.58</td>
      <td>1</td>
      <td>1216.58</td>
      <td></td>
      <td>保留</td>
      <td>一个月内定期存款应付利息：现金流分析组结构/利息收入分析时间窗口/Coupon/2.5.1.1+2.5.2.2</td>
      <td></td>
    </tr>
    <tr>
      <th>122</th>
      <td>118</td>
      <td>2.2现金流入</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>123</th>
      <td>119</td>
      <td>2.2.1 逆回购与证券借入</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>124</th>
      <td>120</td>
      <td>2.2.1.1押品未用于再抵押（买断式）</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>125</th>
      <td>121</td>
      <td>2.2.1.1.1以一级资产为担保</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>126</th>
      <td>122</td>
      <td>2.2.1.1.1.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>127</th>
      <td>123</td>
      <td>2.2.1.1.2以2A资产为担保</td>
      <td></td>
      <td>0.15</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>128</th>
      <td>124</td>
      <td>2.2.1.1.2.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>129</th>
      <td>125</td>
      <td>2.2.1.1.3以2B资产为担保</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>130</th>
      <td>126</td>
      <td>2.2.1.1.3.1押品市场价值</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>131</th>
      <td>127</td>
      <td>2.2.1.1.4以其他资产为担保的保证金贷款</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>132</th>
      <td>128</td>
      <td>2.2.1.1.5其他</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>项目名称、编号</td>
      <td>2.2.1.1.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>133</th>
      <td>129</td>
      <td>2.2.1.2押品未用于再抵押（质押式）</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td></td>
      <td>A列保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>134</th>
      <td>130</td>
      <td>2.2.1.3押品用于再抵押</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>135</th>
      <td>131</td>
      <td>2.2.2完全正常履约的协议性现金流入</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>136</th>
      <td>132</td>
      <td>2.2.2.1零售客户</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>风管部：个贷本息</td>
      <td></td>
    </tr>
    <tr>
      <th>137</th>
      <td>133</td>
      <td>2.2.2.2小企业</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td>公金部</td>
      <td></td>
    </tr>
    <tr>
      <th>138</th>
      <td>134</td>
      <td>2.2.2.3大中型企业</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>139</th>
      <td>135</td>
      <td>2.2.2.4主权实体、多边开发银行和公共部门</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>项目名称、编号</td>
      <td>2.2.2.5</td>
      <td>资金部</td>
      <td></td>
    </tr>
    <tr>
      <th>140</th>
      <td>136</td>
      <td>2.2.2.5中央银行</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>141</th>
      <td>137</td>
      <td>2.2.2.6金融机构</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.2.2.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>142</th>
      <td>138</td>
      <td>2.2.2.6.1有业务关系的款项</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td>2.2.2.4.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>143</th>
      <td>139</td>
      <td>2.2.2.6.2无业务关系，存放在合作网络中央机构的款项</td>
      <td></td>
      <td>0</td>
      <td></td>
      <td>封闭单元格</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>144</th>
      <td>140</td>
      <td>2.2.2.6.3其他借款和现金流入</td>
      <td>313737</td>
      <td>1</td>
      <td>313737</td>
      <td></td>
      <td>2.2.2.4.3</td>
      <td>资金部、贸金部，并表时要减去村行流动性便利金额</td>
      <td></td>
    </tr>
    <tr>
      <th>145</th>
      <td>141</td>
      <td>2.2.2.7 到期证券投资</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>146</th>
      <td>142</td>
      <td>2.2.3其他现金流入</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>147</th>
      <td>143</td>
      <td>2.2.3.1衍生产品交易的净现金流入</td>
      <td>18633.9</td>
      <td>1</td>
      <td>18633.9</td>
      <td>项目名称</td>
      <td>保留</td>
      <td>资金部、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>148</th>
      <td>144</td>
      <td>2.2.3.2其他现金流入</td>
      <td></td>
      <td>0.5</td>
      <td>0</td>
      <td>修改折算率</td>
      <td>保留</td>
      <td>资金部、贸金部</td>
      <td></td>
    </tr>
    <tr>
      <th>149</th>
      <td>Ⅱ. 汇总计算</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>150</th>
      <td>1</td>
      <td>1.合格优质流动性资产（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>151</th>
      <td>2</td>
      <td>1.1一级资产（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>152</th>
      <td>3</td>
      <td>1.2 2A资产（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td>项目名称</td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>153</th>
      <td>4</td>
      <td>1.3 2B资产（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>154</th>
      <td>5</td>
      <td>2.净现金流出（汇总计算）</td>
      <td>95227.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>155</th>
      <td>6</td>
      <td>2.1现金流出（汇总计算）</td>
      <td>380910</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>156</th>
      <td>7</td>
      <td>2.1.1零售存款的现金流出（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>157</th>
      <td>8</td>
      <td>2.1.2无担保批发现金流出（汇总计算）</td>
      <td>361066</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>158</th>
      <td>9</td>
      <td>2.1.3担保融资流出（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>159</th>
      <td>10</td>
      <td>2.1.4其他项目 （汇总计算）</td>
      <td>18627.1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>160</th>
      <td>11</td>
      <td>2.1.5其他或有融资义务（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>161</th>
      <td>12</td>
      <td>2.1.6其他所有没有包含在以上类别中的本金、利息等现金流出（汇总计算）</td>
      <td>1216.58</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>162</th>
      <td>13</td>
      <td>2.2现金流入（汇总计算）</td>
      <td>332371</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>163</th>
      <td>14</td>
      <td>2.2.1逆回购与证券借入（汇总计算）</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>164</th>
      <td>15</td>
      <td>2.2.2完全正常履约的协议性现金流入（汇总计算）</td>
      <td>313737</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>165</th>
      <td>16</td>
      <td>2.2.3其他现金流入（汇总计算）</td>
      <td>18633.9</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>166</th>
      <td>17</td>
      <td>3.流动性覆盖率</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>保留</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>167</th>
      <td>III.附注项目：</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>168</th>
      <td></td>
      <td>项目</td>
      <td>A</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>169</th>
      <td></td>
      <td>1.押品互换还原后对合格优质流动性资产的影响</td>
      <td>增加</td>
      <td>减少</td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>170</th>
      <td></td>
      <td>1.1对一级资产的影响</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>171</th>
      <td></td>
      <td>1.2对2A资产的影响</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>172</th>
      <td></td>
      <td>1.3对2B资产的影响</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>173</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>174</th>
      <td></td>
      <td>项目</td>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>175</th>
      <td></td>
      <td>2. 30日内到期的担保融资和押品互换交易还原后对合格优质流动性资产的影响</td>
      <td>金额</td>
      <td>折算率</td>
      <td>折算后金额</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>176</th>
      <td></td>
      <td>2.1对一级资产的影响</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>177</th>
      <td></td>
      <td>2.2调整后一级资产</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>178</th>
      <td></td>
      <td>2.3对2A资产的影响</td>
      <td>0</td>
      <td>0.85</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>179</th>
      <td></td>
      <td>2.4调整后2A资产</td>
      <td>0</td>
      <td>0.85</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>180</th>
      <td></td>
      <td>2.5对2B资产的影响</td>
      <td>0</td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>181</th>
      <td></td>
      <td>2.6调整后2B资产</td>
      <td>0</td>
      <td>0.5</td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>182</th>
      <td></td>
      <td>2.7上限计算调整项</td>
      <td></td>
      <td></td>
      <td></td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>183</th>
      <td></td>
      <td>2.7.1 2B资产调整项</td>
      <td></td>
      <td></td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>184</th>
      <td></td>
      <td>2.7.2 二级资产调整项</td>
      <td></td>
      <td></td>
      <td>0</td>
      <td>新增</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>185</th>
      <td>填表人：</td>
      <td></td>
      <td>复核人：</td>
      <td></td>
      <td>负责人：</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>186</th>
      <td></td>
      <td>版本号:1410</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>187</th>
      <td></td>
      <td>蓝色底为含公式区域</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>188</th>
      <td></td>
      <td>无数据部分</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>