{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Upload{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Upload Excel(s) Templates</h1>
</div>
<h2>Select file(s) to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<p>
    请统一命名文件如下：资金期限表、G25...仅支持xlsx文件（若文件名末有备注姓名，请用“_”分割。支持一次上传多个文件。）
</p>
<p>
    请把需要填写的格子在excel中填入该格子涉及人员及填写提示，以|开始，并用|及：分割
    （例：|朱张婷：主权国家发行的风险权重为零的证券|陆轶凡：现金）。
</p>
<form method="post" action="/api/upload_file/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    </p>
    <p>
		<input type="submit" value="上传">
	</p>
</form>

{#<form method="post" action="/api/split_baobiao/" enctype="multipart/form-data">#}
{#    <input type="submit" value="拆分报表">#}
{#</form>#}

{% endblock %}