{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Upload{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>上传报表模板</h1>
</div>
<h4><b>请选择报表模板（可一次上传多个文件）</b></h4>
{#<p>#}
{#	{% with messages = get_flashed_messages() %}#}
{#	  {% if messages %}#}
{#		<ul class=flashes>#}
{#		{% for message in messages %}#}
{#		  <li>{{ message }}</li>#}
{#		{% endfor %}#}
{#		</ul>#}
{#	  {% endif %}#}
{#	{% endwith %}#}
{#</p>#}
    <br>
<p><b>请先前往管理员主页中的报表名管理，维护报表名，例如：资金期限表、G25......</b></p>
<p><b>再上传同名文件，仅支持xlsx文件，若要备注请用"_"分割，例如：资金期限表_201804版。</b></p>
<p>
    请把需要填写的格子在excel中填入该格子涉及人员及填写提示，以|开始，并用|及：分割，若是减法运算，请在填写提示前标注"-"号，
    并在填写数据时填入负数。
</p>
<p>
    （例如：|朱张婷：主权国家发行的风险权重为零的证券|陆轶凡：-现金）
</p>
<p>
    请把需要由excel公式生成的格子在excel模板中填入公式即可。
</p>
{#    <img src="{{ url_for('static', filename='img/1.png') }}" width="55%" height="55%">#}
    <br>
<form method="post" action="/api/upload_file/" enctype="multipart/form-data">
    <dl>
		<p>
{#            <label for="file" class="btn btn-default">选择文件</label>#}
{#            <input id="file" name="file" type="file" class="file" multiple="true" autocomplete="off" style="display:none" required>#}
            <input id="file" name="file" type="file" class="file" multiple required>
        </p>
    </dl>
    <p>
		<input type="submit" class="btn btn-default" value="上传">
	</p>
</form>

{% endblock %}