{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Upload{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>上传报表模板</h1>
</div>
<div class="col-md-9">
<h4><b>请选择报表模板（可一次上传多个文件）</b></h4>
<p>1.   请先前往管理员主页中的报表名管理，维护报表名，例如：资金期限表、G25......</p>
<p>2.   再上传同名文件，仅支持xlsx文件，若要备注请用"_"分割，例如：资金期限表_201804版。</p>
<p>
    3.  请把需要填写数据的格子在excel中填入该格子的计算公式，以|开始，并用：分割填写人员与填写内容。
    <br>&nbsp;&nbsp; <b>（注：对于同一名填写人员，他的同名填写内容视为唯一值。如需区分，请在填写内容后加上下划线区分，</b>
        &nbsp;&nbsp; <b>请勿使用括号或"-"号，因为括号和"-"号会被当做运算符计算。</b>
    <br>&nbsp;&nbsp; 例如：|(朱张婷：证券_A+陆轶凡：证券)*吴玉姝：系数+朱张婷：证券_B
</p>
<p>
    4.  请把需要由excel公式自动生成的格子在excel模板中填入excel公式即可。
</p>
<div class="col-md-11">
<p>模板预览：</p>
    <img src="{{ url_for('static', filename='img/template_preview.png') }}" width="100%" height="100%">
<br>
<br>
</div>
</div>
<div class="col-md-8">
<form method="post" action="/api/upload_file/" enctype="multipart/form-data">
    <p>
        <input id="file" name="file" type="file" class="file" multiple required>
    </p>
    <p>
		<input type="submit" class="btn btn-default" value="上传">
	</p>
</form>
</div>
{% endblock %}